/* shhh!!!! */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* What do you expect me to say here too? */
html{
	height: 100%;
	width:100%;
}

html,body{
    overflow-x: hidden;
}

/* The body of the page.Nothing else */
body{
    background-color: rgb(240, 240, 240);
    min-height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}

a{
    outline: none;
}